<form action="/" id="formBusca">
  <input
    id="search"
    type="text"
    placeholder="Buscar conteudo..."
    name="busca"
  />
  <button id="btn" type="submit" form="formBusca">
    <img src="/img/magnifyingGlass.svg" alt="" /> <span>Busca</span>
  </button>
</form>
