<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/faviconJ.png" type="image/x-icon" />
    <link rel="stylesheet" href="/adminStyle.css" />
    <title>Login Blog</title>
  </head>
  <body>
    <div class="login">
      <form action="" method="post">
        <input class="login-text" type="text" name="login" />
        <input class="login-text" type="password" name="senha" />
        <input class="login-btn" type="submit" name="acao" value="Logar!" />
      </form>
    </div>
  </body>
</html>
